---
layout: default
permalink: /
---

 {% include index/hero.html %}

 {% include index/about.html %}

 {% comment %}
 {% include index/rockstar-speakers.html %}
 {% include index/latest-news.html %}
 {% endcomment %}

 {% include index/statistic.html %}

 {% include index/location-map.html %}

 {% include index/venue.html %}

 {% comment %}
 {% include index/twitter-feed.html %}
 {% endcomment %}

 {% include index/partners.html %}

 {% comment %}
 {% include index/subscribe.html %}
 {% endcomment %}

 {% comment %}
 {% include index/eventbrite.html %}
 {% endcomment %}
