<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
		<h3>Tickets</h3>
<iframe src="https://eventbrite.com/tickets-external?eid=24720117537&amp;ref=etckt" frameborder="0" style="overflow:none;" height="390" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
<!--
		<p>
        In addition we offer diversity tickets - please see our <a href="/diversity/">diversity page</a> to read more about our efforts in increasing diversity at the event.
        </p>
 -->
 		<p>
 		We are also looking for volunteers.
 		If you are ready to invest a bit of your time in helping us running the event smoothly we will offer you free entry to the conference. <em>Interested? Contact us an email at <a href="mailto:volunteer@droidcon.at" title="Send mail to volunteer@droidcon.at">volunteer@droidcon.at</a></em>.
        </div>
	</div>
</section>
<!-- End Tickets Section -->
