<!-- Begin Logistics General-->
<section id="logistics-general" class="logistics-general">
    <div class="content-wrapper">
        <div class="text-left col-lg-10 col-lg-offset-1">
            <p>
            Coming from outside of Vienna? On this page we have
            collected some tipps for making your stay even
            more enjoyable.
            How to navigate through Vienna, where to stay, and
            what touristic attractions are available in Vienna -
            all this you find on this page.
            </p>
            <h5>Currency</h5>
            <p>The official currency in Austria is Euro. While Visa, MasterCard, and Maestro are accepted at most shops and restaurants, cash is welcomed everywhere. Most restaurants do not allow split checks on multiple credit cards, so be sure to carry cash while dining out with large groups! ATMs can be recognized by this sign:<br>
            <img src="/img/other/bankomat.jpg"><br>
            Please check the fees before withdrawing. Also when withdrawing cash from an ATM it is usually better if you do not accept the exchange rate offer from the ATM.
            <h5>Electrical Power</h5>
            <p>If visiting from outside Europe be sure to bring a 230V power adaptor (plug type F), to ensure your laptop does not run out of battery on the first day. If you forget your adaptor, ask your hotel's front desk who will usually be glad to help you out.
            <h5>Weather</h5>
            <p>In September weather should still be pleasant in Vienna. However, summer will be over and expect daily high temperatures between 15°C and 20°C (60°F - 70°F). Expect an average of 6 hours sun per day. There may be a chance of rainy weather, so just be sure to pack an umbrella or a rain coat!</p>
            <h5>Public Transport</h5>
            <p>Public transportation is really good in Vienna. You can go nearly everywhere with S-Bahn, U-Bahn, or Tram - everything else can be reached by Bus. Everything in Vienna can be reached with the same ticket which costs 2.20 € (allowing change). Depending on your duration of stay and the location of your hotel you might consider a tourist ticket (<a href="http://www.wienerlinien.at/eportal3/ep/channelView.do/pageTypeId/66533/channelId/-47401" target="_blank">Vienna Card</a>) for 48 or 72 hours. The tourist ticket also includes discounts at some shops, restaurants and museums.</p>
            <p>We recommend the free public transportation app for your stay:<br>
            <a href="https://play.google.com/store/apps/details?id=com.fluidtime.qando" target="_blank">qando Vienna (Android)</a><br>
            <a href="https://itunes.apple.com/de/app/qando/id315777736?mt=8">qando Vienna (iPhone)</a>
            </p>
            <h5>Food &amp; Drinks</h5>
            <p>Vienna is a melting pot of cuisine from all over the world, you can find most anything from street vendors to fine dining, coffeehouses, breweries, and bakeries. The city's most iconic food is still the Wiener Schnitzel. Another typical Vienna street food is the the Kebab. You find them all over the city.</p>
        </div>
    </div>
</section>
<!-- End Logistics Genera -->