<!-- Begin Logistics General-->
<section id="logistics-general" class="logistics-general">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <p>
            Coming from outside of Vienna? On this page we have
            collected some tipps for making your stay even
            more enjoyable.
            How to navigate through Vienna, where to stay, and
            what touristic attractions are available in Vienna -
            all this you find on this page.
            </p>
        </div>
    </div>
</section>
<!-- End Logistics Genera -->